.history {
    padding: 50px 100px;
    width: 1200px;
    margin: 0 auto;

    .wrapp-form {
        padding: 40px;
        margin-top: 20px;
        border-radius: 6px;
        background-color: var(--white-color);
        border: 1px solid var(--smoke-color);
    }

    .history-wrapp {
        
        .history-problem {

            .history-problem-incident {
                width: 100%;
            }

            .history-problem__heading {
                margin-bottom: 20px;
            }
        }
    }
}