.history {
    padding: 80px 100px 50px;
    width: 1200px;
    margin: 0 auto;

    .history-wrapp {
        
        .history-problem {

            .history-problem__heading {
                margin-bottom: 20px;
            }
        }
    }
}